* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

html{
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(11,26,36);
  background: linear-gradient(90deg, rgba(11,26,36,1) 0%, rgba(102,196,220,1) 55%, rgba(43,58,66,1) 97%);
}

.container {
  width: 43rem;
  background:#0C1A26;
  border-radius: 0.7rem;
  box-shadow: 0.9rem 1rem 5rem 0.5rem rgba(255, 255, 255, 0.727);
}

/* LINHA EMBAIXO TEXTO */
.container h2 {
  font-weight: 600;
  font-size: 2.1rem;
  padding: 1.6rem 3rem;
  border-bottom: 0.2rem solid #929191;
  text-align: center;
}

/* ESPAÇAMENTO DENTRO DA BOX */
.wrapper {
  margin: 2rem 4rem;
}

/* ONDE O ICONE DE COPIAR VAI FICAR */
.input-box {
  position: relative;
}

/* ONDE VAI FICAR A SENHA */
.input-box input {
  width: 100%;
  height: 5.3rem;
  color: #fff;
  background: none;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 0.4rem;
  /* ESPAÇAMENTO ENTRE AS LETRAS DA SENHA */
  letter-spacing: 0.1rem; 
  border: 0.1rem solid #cbcaca;
  /* ONDE VAI FICAR AS LETRAS DA SENHA */
  padding: 0 4.8rem 0 1.6rem;
}

/* BOTAO COPIAR */
.input-box span {
  position: absolute;
  right: 1.3rem;
  cursor: pointer;
  line-height: 5.3rem;
  color: #aaa;
}

/* BOTAO COPIAR QUANDO PASSA O MOUSE POR CIMA */
.input-box span:hover {
  color: #4285f4 !important;
}

/* BARRA ONDE MOSTRAR O INDICADOR DE SENHA FORTE/FRACA */
.pass-indicator {
  width: 100%;
  height: 0.7rem;
  position: relative;
  background: #333;
  margin-top: 1.2rem;
  border-radius: 2.5rem;
}

/* DIVISAO DE COMO VAI FICAR QUANDO MUDAR O INDICAODR DE SENHA */
.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 0;
  border-radius: inherit;
  transition: width 0.3s ease;
}

/* SENHA FRACA */
.pass-indicator#weak::before {
  width: 20%;
  background: #e64a4a;
}

/* SENHA MEDIA */
.pass-indicator#medium::before {
  width: 50%;
  background: #f1c80b;
}

/* SENHA FORTE */
.pass-indicator#strong::before {
  width: 100%;
  background: #27c468;
}

/* ESPAÇAMENTO COMPRIMENTO SENHA */
.pass-length {
  margin: 2.5rem 0 2rem;
}

/* TEXTO ACIMA DA BARRA DE COMRPIMENTO */
.pass-length .details {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

/* BARRA COMPRIMENTO */
.pass-length input {
  color: red;
  width: 100%;
  height: 0.5rem;
}

.pass-settings .options {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* LISTA OPÇÕES DE SELEÇÃO */
.pass-settings .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 50%;
  font-size: 1.2rem;
}

/* PRIMEIRA CAIXA DE SELEÇÃO */
.options .option:first-child {
  pointer-events: none;
}

/* OPACIDADE DA PRIMEIRA CAIXA DE SELEÇÃO */
.options .option:first-child input {
  opacity: 0.5;
}

/* ESPAÇAMENTO DA CAIXA DE SELEÇÃO */
.options .option input {
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

/* COR CAIXA DE SELEÇÃO */
.options .option label {
  cursor: pointer;
  color: #fcfcfc;
  padding-left: 1.6rem;
}

.btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem; 
}

/* BTN GERAR */
.generate-btn, .save-btn {
  width: 100%; 
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: monospace;
  padding: 1.5rem 0;
  border-radius: 1.2rem;
  text-transform: uppercase;
  margin: 1.5rem 0.5rem 2rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

/* BOTOES QUANDO ATIVAM */
.generate-btn:active, .save-btn:active {
  transform: scale(0.95);
}

/* BTN - GERAR */
.generate-btn {
  background: #427D9C;
}

/* BTN GERAR - QUANDO PASSAR POR CIMA*/
.generate-btn:hover {
  background: #9ab8c3;
  color: black;
}

/* BTN SALVAR SENHA */
.save-btn {
  background: #0bc4ab;
}

.save-btn:hover{
  background: #6ecfc2;
  color: black;
}

/* ------------------------ */


.container-table {
  width: 43rem;
  margin: 2rem;
  background:#0C1A26;
  border-radius: 0.7rem;
  box-shadow: 0.9rem 1rem 5rem 0.5rem rgba(255, 255, 255, 0.727);
}


/* LINHA EMBAIXO TEXTO */
.container-table h2 {
  width: 100%;
  margin: 2rem auto;
  font-weight: 600;
  font-size: 2.1rem;
  padding: 1.6rem 3rem;
  border-bottom: 0.2rem solid #929191;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem; 
}

table th, table td {
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid #ddd;
  word-wrap: break-word;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #4285f4;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.toggle-btn i {
  margin-right: 0.5rem;
}

.senha-oculta, .senha-visivel {
  border: none;
  background-color: #f8f8f8;
  text-align: center;
}


.table-float {
  font-size: 2rem; 
  position: sticky;
  padding-top: 2.5rem; 
  margin-top: 5%; 
  margin-bottom: 5%;
  }
  
.table-float input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem; 
  display: inline-block;
  border: 0;
  border-bottom: 0.2rem solid #0d009c; 
  background-color: transparent;
  outline: none;
  min-width: 18rem; 
  font-size: 1.2rem; 
  transition: all 0.3s ease-out;
  border-radius: 0;
}
  
.table-float input:focus {
  border-bottom: 0.2rem solid #4038a0; 
}

.table-float label {
  color: #0d009c;
  font-size: 1.8rem; 
  pointer-events: none;
  position: absolute;
  top: 1rem; 
  left: 1rem; 
  margin-top: 0;
  transition: all 0.3s ease-out;
}
  
.table-float input:focus + label,
.table-float input:valid + label {
  font-size: 1.3rem; 
  color: #4038a0;
}
  
.fa-eye {
  position: absolute;
  top: 50%;
  right: 1rem; 
  transform: translateY(-50%);
  cursor: pointer;
  color: #4285f4;
}
  
.fa-eye-slash {
  position: absolute;
  top: 50%;
  right: 1rem; 
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

@media (max-width: 76.8rem) {
  .container {
    width: 90%;
  }
}